NODE_ENV=dev
AUTH_SECRET=709a0c453843375d35841174bcd2ba493ec6e8bd181dbe7a9fa4fb636c365f7f
DATABASE_URL=DATABASE_URL="postgresql://postgres.qnvyszqrzkxsxmqqjbfl:gBtqAma#n67det9@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres"
SOLARPLAN_API_URL=http://localhost:1337
SOLARPLAN_CLIENT_URL=http://localhost:5173
DISABLE_GUEST_ACCESS=false
